.nav {
    grid-area: n;
    background-color: #d58fff;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover{
    text-decoration: underline;
}

.item a.active {
    color: gold;
}